In [8]:
import pandas as pd
from functools import reduce
import numpy as np
import os
import pathlib
from os import listdir
from os.path import isfile, join

이름, 원본 상대 경로, 라벨링경로

In [19]:
from pathlib import Path
print(Path.cwd())

c:\Users\Luna\Desktop\data_de\CNN_fina_data

In [36]:
pwd = Path.cwd()
listdir(Path.cwd())[0]

'Alexander (cocktail)'

In [123]:
len(listdir(Path.cwd()))

31

In [125]:
temp_jpg = {"name": [], "jpg_path": [] }
temp_txt = {"name": [], "txt_path": [] }
for j in range(len(listdir(Path.cwd()))):
    try:
        folder_dir = listdir(Path.cwd())[j]
        file_dir = listdir(listdir(Path.cwd())[j])
        s2 = list(map(lambda x:"./"+ folder_dir + "/" + x , file_dir))
        for i in range(len(s2)):
            if s2[i][-3:] == "jpg":
                temp_jpg["name"].append(file_dir[i][:-4])
                temp_jpg["jpg_path"].append(s2[i])
            if s2[i][-3:] == "txt":
                temp_txt["name"].append(file_dir[i][:-4])
                temp_txt["txt_path"].append(s2[i])
    except NotADirectoryError:
        pass

In [127]:
print((temp_jpg["jpg_path"])[0])
print((temp_jpg["name"])[0])

print(len(temp_jpg["jpg_path"]))
print(len(temp_jpg["name"]))

./Alexander (cocktail)/Alexander1.jpg
Alexander1
2482
2482

In [128]:
df1 = pd.DataFrame(temp_jpg)
df2 = pd.DataFrame(temp_txt)

In [130]:
df0 = df1.merge(df2,how='inner',on='name')

In [122]:
df0.head()

,name,jpg_path,txt_path
0,Alexander1,./Alexander (cocktail)/Alexander1.jpg,./Alexander (cocktail)/Alexander1.txt
1,Alexander10,./Alexander (cocktail)/Alexander10.jpg,./Alexander (cocktail)/Alexander10.txt
2,Alexander100,./Alexander (cocktail)/Alexander100.jpg,./Alexander (cocktail)/Alexander100.txt
3,Alexander101,./Alexander (cocktail)/Alexander101.jpg,./Alexander (cocktail)/Alexander101.txt
4,Alexander102,./Alexander (cocktail)/Alexander102.jpg,./Alexander (cocktail)/Alexander102.txt

In [131]:
df0.to_csv('cktl_path.csv', sep=',', index=True)